<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="app.js"></script>
    <title>Rep Rec</title>




<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">



<!--[if lte IE 8]>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">

<![endif]-->
<!--[if gt IE 8]><!-->

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">

<!--<![endif]-->



<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">




    <!--[if lte IE 8]>
        <link rel="stylesheet" href="css/layouts/marketing-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="css/layouts/marketing.css">
    <!--<![endif]-->







</head>
<body>









<!-- <div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">Your Site</a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">Home</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Tour</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Sign Up</a></li>
        </ul>
    </div>
</div> -->

<div class="splash-container">
    <p style="text-align:center;"><img src="banner.png" class="splash-head" height="300" width="600"></p>
    <div class="splash">
        <!-- <h1 class="splash-head">Big Bold Text</h1> -->
        <!-- <p class="splash-subhead">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p> -->
        <p class="splash-subhead">
            HackGT 2016 </p>
        <p class="splash-subhead">Jasmine Pillarisetti, Nicole Hofmann, Ria Verma, Taylor Stillman
        </p>
    </div>
</div>

<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center">Let's get started!</h2>

        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    Who's representing me?
                </h3>
                <p>
                    Comprehensive information about your senators and representatives
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-mobile"></i>
                    Voting Records
                </h3>
                <p>
                    See how your representative has voted on recent bills
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-th-large"></i>
                    Legislative Records
                </h3>
                <p>
                    Search bills by key words, based on your interests
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-check-square-o"></i>
                    Easy to Use and Understand
                </h3>
                <p>
                    Get rid of the jargon and understand what's going on with your government
                </p>
            </div>
        </div>
    </div>

    <!-- <div class="ribbon l-box-lrg pure-g">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
            <img class="pure-img-responsive" alt="File Icons" width="300" src="img/common/file-icons.png">
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

            <h2 class="content-head content-head-ribbon">Laboris nisi ut aliquip.</h2>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor.
            </p>
        </div>
    </div> -->

    <div class="content">
        <h2 class="content-head is-center">Start your search</h2>

        <div class="pure-g">
            <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                <form class="pure-form pure-form-stacked">
                    <fieldset>

                        <label for="name">Search for representative by your location</label>

                        <div ng-app="zipApp"
                              ng-controller="zipController">
                          <input id="zip"
                                ng-model="zipcode"
                                type="text" placeholder="Zip Code"
                                value="zipCode">
                        </div>
                        <button id = "congressmenbutton"
                                type="submit"
                                class="pure-button"
                                ng-click="zipClick(congressmenbutton)">Go</button>
                    </fieldset>
                </form>
            </div>

            <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                <form class="pure-form pure-form-stacked">
                    <fieldset>

                        <label for="name">Search for bills by key word</label>


                        <div ng-app="zipApp"
                              ng-controller="zipController">
                          <input id="zip"
                                ng-model="zipcode"
                                type="text" placeholder="Key Word"
                                value="word">
                        </div>
                        <button id = "keysearchbutton"
                                type="submit"
                                class="pure-button"
                                ng-click="zipClick(keysearchbutton)">Go</button>

                    </fieldset>
                </form>
            </div>

    </div>

    <!-- <div class="footer l-box is-center">
        View the source of this layout to learn more. Made with love by the YUI Team.
    </div> -->

</div>


<script>
function buttonHandler(button) {
    if (button.id == "congressmenbutton") {
        var zipcode = document.getElementById("zip").value;
    } else if (button.id == "keysearchbutton") {
        var keyword = document.getElementById("keyword").value;
    }
}
</script>





</body>
</html>
