<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Example - example-controller-spicy-2-production</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="app.js"></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>
</head>

<!-- // call the app -->
<body ng-app="d3App">

<!-- // insert the controller -->
    <div  ng-controller="barchartController">

        <div class="title">{{title}}</div>

        <!-- // add the input boxes to make interactive -->
        <d3-bars data="d3Data" label="name"></d3-bars>

        <br>

        <span>Peter</span>
        <br>
        <input type="text" ng-model="d3Data[0].score"/>
        <br>

        <span>Francis</span>
        <br>
        <input type="text" ng-model="d3Data[1].score"/>
        <br>

        <span>Tabatha</span>
        <br>
        <input type="text" ng-model="d3Data[2].score"/>
        <br>

        <span>Amber</span>
        <br>
        <input type="text" ng-model="d3Data[3].score"/>
        <br>

        <span>David</span>
        <br>
        <input type="text" ng-model="d3Data[4].score"/>
      </div>

    </div>

</body>




</html>
